<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our handpicked campgrounds from all over the world!</p>
            <hr class="my-4">
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>    
                <form action="/campgrounds" method="GET" class="form-inline mt-2 mt-md-0">
                    <div class="form-group ">
                        <input class="form-control pr-5 mr-sm-2" type="text" name="search" placeholder="Search campground..."></input>
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search"></input>
                    </div>
                </form>
            </p>
        </div>
    </header>
    
    <div class="row text-center">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card box-shadow">
                    <img class="card-img-top img" src="<%= campground.image %>" alt="<%= campground.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <p class="card-text text-muted"> <%= campground.location %> </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                            <small class="text-muted"><em>Submitted by: </em><a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></small>
                        </div>

                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>